    <ul>
        <li class="btn-main">
            <a href="index.html">Home</a>
        </li>
        <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
            <a href="buy.html">Purchase</a>
            <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
                <ul>
                    <li>
                        <span class="material-icons-outlined">person</span>
                        <a href="buy.html">New York Bestseller</a>
                    </li>
                    <li>
                        <span class="material-icons-outlined">person</span>
                        <a href="buy.html">Amazon Best Seller</a>
                    </li>
                    <li>
                        <span class="material-icons-outlined">person</span>
                        <a href="buy.html">USA Today Bestseller</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
            <a href="#">Hit List</a>
            <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
                <ul>
                    <li>
                        <span class="material-icons-outlined">task</span>
                        <a href="http://www.amazon.com/">Books</a>
                    </li>
                    <li>
                        <span class="material-icons-outlined">task</span>
                        <a href="https://www.apple.com/apple-books/">Free Ibooks</a>
                    </li>
                    <li>
                        <span class="material-icons-outlined">task</span>
                        <a href="Authors.html">Black Authors</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="btn-main">
            <a href="about.html">About</a>
        </li>
    </ul>
<ul>
  