<ul>
    <li class="btn-main">
        <a href="index.html">Home</a>
    </li>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="Books.html">Hot List</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">book</span>
                    <a href="Books.html#Book1">New York Bestsellers</a>
                </li>
                <li>
                    <span class="material-icons-outlined">book</span>
                    <a href="Books.html#Book2">USA Today</a>
                </li>
                <li>
                    <span class="material-icons-outlined">book</span>
                    <a href="Books.html#Book3">Kindle Top Releases</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="#">Purchase</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="http://www.amazon.com/">Kindle</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="https://www.apple.com/apple-books/">Ibooks</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="project.html">Good Reads</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="btn-main">
        <a href="about.html">About</a>
    </li>
</ul>