<ul>
    <li class="btn-main">
        <a href="index.html">Home</a>
    </li>
   
        </div>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="Books.html">Hot List</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">book</span>
                    <a href="https://www.nytimes.com/books/best-sellers/">New York Bestsellers</a>
                </li>
                <li>
                    <span class="material-icons-outlined">book</span>
                    <a href="https://www.usatoday.com/entertainment/books/best-selling/">USA Today</a>
                </li>
                <li>
                    <span class="material-icons-outlined">book</span>
                    <a href="https://www.amazon.com/gp/bestsellers/2020/digital-text/154606011">Kindle Top Releases</a>
                </li>
             </ul>
        </div>
    </li>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="#">Purchase</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="http://www.amazon.com/">Kindle</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="https://www.apple.com/apple-books/">Ibooks</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="https://www.goodreads.com/">Goodreads</a>
                </li>
            </ul>
            </div>
            <li>
                <li class="btn-main">
                <a href="project.html">Blog</a>
            </li>
        </div>
    </li>
    <li class="btn-main">
        <a href="about.html">About</a>
    </li>
</ul>